# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.URPTest.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\URPTest\.idea\.idea.URPTest\.idea/dataSources/
/dataSources.local.xml
